#container__players{
    display: flex;
    justify-content: space-around;

    width: 60vw;
    margin: auto;
}

.input__name{
    background-color: antiquewhite;
    border: 0;
    border-radius: 10px;

    width: 10vw;
    height: 5vh;

    padding: 0.5em;
}

#versus{
    font-size: 3em;
}